html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.deleteBtn {
    background-color: red;
    color: white;
}

.editBtn {
    background-color: yellow;
}

.createBtn {
    background-color: limegreen;
}

.formField {
    margin-top: 8px;
    margin-bottom: 8px;
}