@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="text-center displa-6"><b>@ViewData["Title"]</b></h1>
<p class="text-center display-6 fs-4">
    Please check your email to reset your password.
</p>
