@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot your password?";
}

<h1 class="text-center display-6"><b>@ViewData["Title"]</b></h1>
<h2 class="text-center display-6 fs-4">Enter your email.</h2>
<div class="row d-flex justify-content-center">
	<div class="col-md-4">
		<hr />
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating formField">
				<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
				<label asp-for="Input.Email" class="form-label"></label>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<button type="submit" class="w-100 btn btn-lg btn-secondary">Reset Password</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
