@page
@{
	ViewData["Title"] = "Register confirmation";
}

<h1 class="text-center display-6">@ViewData["Title"]</h1>
<p class="text-center display-6 fs-4">Please check your email to confirm your account.</p>

