@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 class="text-center display-6">@ViewData["Title"]</h1>
<p class="text-center display-6 fs-4">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
