@using PersonalFinancer.Common.Constants;
@{
	ViewData["Title"] = "All Accounts";
}

<div class="container">

	<h1 class="display-6 text-center">@ViewData["Title"]</h1>

	@*Account Cards*@
	<div class="row mt-4" id="accounts">
		@*Place for accounts data*@
	</div>

	@*Pagination*@
	<partial name="_PaginationPartial" />
</div>

@section Scripts {
	<script>
		let params = {
			url: '@UrlPathConstants.ApiAccountsEndpoint'
		}
	</script>
	<script src="~/js/renderAccounts.js"></script>
	<script src="~/js/pagination.js"></script>
}