@using PersonalFinancer.Web.Areas.Admin.Models.Home;
@model AdminDashboardViewModel
@{
	ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center mt-4">
	<p class="display-5">Hello @Model.AdminFullName!</p>
	<p class="display-6">Welcome to your Admin Dashboard!</p>
	<p class="display-6">Here are the statistics at the moment!</p>
</div>

<div class="container text-center mt-4">
	<div class="row row-cols-auto d-flex justify-content-center">
		<div class="col">
			<div class="card shadow mb-4" style="width: 18rem;">
				<div class="d-flex justify-content-center">
					<img src="icons/icons8-people-64.png" alt="Icon of people" />
				</div>
				<div class="card-body">
					<h5 class="card-title">Users</h5>
					<p class="card-text">There are <b>@Model.RegisteredUsers users</b> currently registered in our Web Application!</p>
					<a asp-controller="Users" asp-action="Index" class="btn btn-secondary">Go to All Users</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow mb-4" style="width: 18rem;">
				<div class="d-flex justify-content-center">
					<img src="icons/icons8-wallet-64.png" alt="Wallet" />
				</div>
				<div class="card-body">
					<h5 class="card-title">Accounts</h5>
					<p class="card-text">They currently have <b>@Model.CreatedAccounts accounts</b> created!</p>
					<a asp-controller="Accounts" asp-action="Index" class="btn btn-secondary">Go to All Accounts</a>
				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-secondary mt-4" onclick="getMoreStatistics('@Model.AccountsCashFlowEndpoint')">More statistics...</button>
	<div class="mt-4">
		<ul id="statistics" class="list-group list-group-flush card offset-lg-2 col-lg-8 shadow">
			@*Place for statistics data*@
		</ul>
	</div>
</div>

@section Scripts {
	<script src="~/js/getMoreStatistics.js"></script>
}