@using Microsoft.AspNetCore.Identity
@using PersonalFinancer.Data.Models;
@using PersonalFinancer.Services.Messages;
@using PersonalFinancer.Services.User;
@using PersonalFinancer.Web.Extensions;
@inject IMessagesService messagesService;

<ul class="navbar-nav">
	@if (this.User.IsAuthenticated())
	{
		<li class="nav-item dropdown">
			@if (this.User.IsAdmin())
			{
				<a class="nav-link dropdown-toggle text-light navpanMessagesBtn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Messages

					@if (await this.messagesService.HasUnseenMessagesByAdminAsync())
					{
						<span class="badge text-bg-danger">New messages</span>
					}
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
					<li class="nav-link btn btn-link dropdown-item">
						<a class="text-dark" asp-area="" asp-controller="Messages" asp-action="All" style="text-decoration: none;">Users Messages</a>
					</li>
					<li class="nav-link btn btn-link dropdown-item">
						<a class="text-dark" asp-area="" asp-controller="Messages" asp-action="Archived" style="text-decoration: none;">Archived Messages</a>
					</li>
				</ul>
			}
			else
			{
				<a class="nav-link dropdown-toggle text-light navpanMessagesBtn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Contact Us

					@if (await this.messagesService.HasUnseenMessagesByUserAsync(this.User.Id()))
					{
						<span class="badge text-bg-danger">New messages</span>
					}
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
					<li class="nav-link btn btn-link dropdown-item">
						<a class="text-dark" asp-area="" asp-controller="Messages" asp-action="Create" style="text-decoration: none;">Write Message</a>
					</li>
					<li class="nav-link btn btn-link dropdown-item">
						<a class="text-dark" asp-area="" asp-controller="Messages" asp-action="All" style="text-decoration: none;">Your Messages</a>
					</li>
					<li class="nav-link btn btn-link dropdown-item">
						<a class="text-dark" asp-area="" asp-controller="Messages" asp-action="Archived" style="text-decoration: none;">Archived Messages</a>
					</li>
				</ul>
			}
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				@User.GetUserName()
			</a>
			<ul class="dropdown-menu dropdown-menu-end">
				<li>
					<a class="nav-link btn btn-link dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
					   style="text-decoration: none;">Profile</a>
				</li>
				<li>
					<form method="post">
						<input type="submit" class="nav-link btn btn-link dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Logout" value="Logout" />
					</form>
				</li>
			</ul>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
