@page
@model PersonalDataModel
@{
	ViewData["Title"] = "Personal Data";
	ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

@*<h3>@ViewData["Title"]</h3>*@

<div class="row">
	<div class="col-md-6">
		<p class="display-6 fs-4">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
		<p class="display-6 fs-4">
			<strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
		</p>
		<div class="formField">
			<form id="download-data" asp-page="DownloadPersonalData" method="post">
				<button class="btn btn-secondary" type="submit">Download</button>
			</form>
		</div>
		<div class="formField">

			<a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
		</div>

	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
