@using PersonalFinancer.Web.Models.Account;
@using static PersonalFinancer.Common.Constants.UrlPathConstants;
@model AccountFormViewModel
@{
	ViewData["Title"] = "Create Account";
}

<p class="display-6 text-center">@ViewData["Title"]</p>
<partial name="_AccountFormPartial" model="Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/createDeleteEntity.js"></script>
}
