@using PersonalFinancer.Data.Models.Enums;
@using PersonalFinancer.Web.Models.Account;
@using static PersonalFinancer.Common.Constants.UrlPathConstants;
@model TransactionFormViewModel
@{
	ViewData["Title"] = "Create Transaction";
}

@if (Model.OwnerAccounts.Any())
{
	<p class="display-6 text-center">@ViewData["Title"]</p>
	<partial name="_TransactionFormPartial" model="Model" />
}
else
{
	<div class="text-center" style="margin-top: 50px;">
		<p class="display-6">You do not have any created account.</p>
		<p class="display-6 fs-4"><a asp-controller="Account" asp-action="Create">Create</a> your first account before start record your transactions.</p>
	</div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/createDeleteEntity.js"></script>
}