@using PersonalFinancer.Web.Models.Transaction;
@model CreateEditTransactionViewModel
@{
	ViewData["Title"] = "Create Transaction";
}

@if (Model.OwnerAccounts.Any())
{
	<p class="display-6 text-center">@ViewData["Title"]</p>
	<partial name="_TransactionFormPartial" model="Model" />
}
else
{
	<div class="text-center mt-5">
		<p class="display-6">You don't have any accounts created.</p>
		<p class="display-6 fs-4"><a style="text-decoration: none;" asp-controller="Account" asp-action="Create">Create</a> your first account before starting to record your transactions.</p>
	</div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/createDeleteEntity.js"></script>
}