@using PersonalFinancer.Web.Models.Transaction;
@model CreateEditTransactionViewModel
@{
	ViewData["Title"] = "Edit Transaction";
}

<h1 class="display-6 text-center">@ViewData["Title"]</h1>
<partial name="_TransactionFormPartial" model="Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/createDeleteEntity.js"></script>
}